VITE_SUPABASE_URL=https://ldtopzkaujwdhovktnyq.supabase.co/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxkdG9wemthdWp3ZGhvdmt0bnlxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5MjI0NTcsImV4cCI6MjA4OTQ5ODQ1N30.jb9vL3-BOWUYAd9zlJrBnDcI7okrJPWKpBHCn5bIeE4
